# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Cấu hình IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.nb-gradle/

# Database (Dữ liệu runtime không nên push lên)
*.db
*.db-shm
*.db-wal

# Hệ điều hành
.DS_Store
Thumbs.db

# Log
*.log
logs/